@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');

@font-face {
    font-family: 'Norse';
    src: url('assets/Norse-Bold.woff2') format('woff2'),
        url('assets/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.background-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    aspect-ratio: 2/3;
    background-image: url(assets/background.jpg);
    background-size: contain;
    padding-top: 25vh;
    padding-bottom: 1.5rem;
    color: white;
}

.background-image > div{
    width: 100%;
    font-size: 5rem;
    font-family: 'Norse';
    font-weight: bold;
    background-color: rgba(0,0,0, 0.5);
    padding: 1rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-image img{
    height: 6rem;
    width: auto;
}

.background-image a {
    color: inherit;
}

form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
form > div{
    flex: 1;
}

.form-header{
    padding: 4rem 10rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 1.5rem;
    font-weight: 700;
}
.form-header p{
    margin: 1rem 0;
}

.form-fields{
    padding: 2rem;
    display: grid;
    grid-template-rows: 3fr repeat(3, 2fr 3fr);
    grid-template-columns: repeat(2, minmax(40%, 25ch));
    grid-auto-flow: row dense;
    align-items: end;
    column-gap: 4rem;
    row-gap: 0.5rem;
    box-shadow: 0px 8px 4rem -3rem;
}
.form-fields > p{
    grid-column: span 2;
    font-weight: 700;
    font-size: 1.5rem;
}

.form-fields > input:nth-of-type(odd), .form-fields > label:nth-of-type(odd){
    grid-column: 1;
}

.form-fields > input:nth-of-type(even), .form-fields > label:nth-of-type(even){
    grid-column: 2;
}

.form-fields label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: gray;
    letter-spacing: 0.25ch;
    align-self: flex-end;
}

.form-fields input {
    align-self: stretch;
    font: inherit;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px 8px;
    outline: none;
    transition: border-color 500ms ease-out;
}

.form-fields input:focus{
    border: 2px solid lightsteelblue;
}

.form-fields input.invalid {
    border: 2px solid crimson;
}

.form-actions{
    padding: 2rem;
}

.form-actions button{
    color: white;
    background-color: rgb(59, 105, 59);
    padding: 1rem 2rem;
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    border: 2px solid rgb(59, 105, 59);
    border-radius: 15px;
    box-shadow: 2px 2px 10px -4px black;
    transition: background-color 400ms ease-out;
    cursor: pointer;
}

.form-actions button:hover{
    background-color: rgb(92, 163, 92);
}

.form-actions p{
    font-weight: 500;
}

.form-actions a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(59, 105, 59);
}

label::after{
    display: inline-block;
    content: "";
    color: white;
    background-color: crimson;
    opacity: 0;
    transform: translate(20px, 16px);
    transition: opacity 500ms ease-out, transform 500ms ease-out;

}

label:has(+input.invalid)::after{
    content: "error";
    transform: translate(20px, 0);
    opacity: 1;
}